# Pastas de compilação
bin/
build/
dist/
nbproject/private/

# Configurações locais
.vscode/launch.json
.vscode/tasks.json

# Arquivos temporários
*.log
Thumbs.db

# Arquivo de configuração local
db.properties

# Ignorar arquivos compilados individuais
*.class

.DS_Store
